.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,body,#root,#MainForm{
  width: 100%;
  height: 100%;
  background: bisque;
}
#Main{
  margin: auto;
  max-width: 658px;
  max-height: 881px;
  height: 100%;
}
#Menu{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  pointer-events: none;
}
#Menu a{
  font-family: cursive;
  color: lightgoldenrodyellow;;
  text-decoration:none;
  min-width: 48px;
}
#Menu1{
  position: relative;
  top:5%;
  width: 35%;
  max-width: 225px;
  /*height: 50%;*/
  border: 3.5px solid crimson;
  border-left: 0;
  background-color:lightgoldenrodyellow;
  display: inline-block;
  border-radius: 30px 35px 30px 30px;
  box-shadow: 5px 6px 2px black;
  margin-left: -36%;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition:margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
  overflow: hidden;
}
#Menu2{
  position: absolute;
  top:10%;
  height: 100px;
  width: 36.6px;
  font-size: 35px;
  text-align: right;
  background-color:lightgoldenrodyellow;
  padding-top: 18px;
  box-shadow: 5px 6px 2px black;
  border: 3px solid crimson;
  border-left: 0;
  border-radius: 0px 20px 20px 0px ;
  vertical-align: top;
  display: inline-block;
  margin-left: -2%;
  z-index: 1000;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition:margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
}
  
.Menu1LinkDiv{
  width: 100%;
  float: right;
  border-bottom: black 1.5px solid;
  min-height: 25px;
}
.Menu1Link{
  border-radius:10px 10px 0px 10px;
  background: radial-gradient(black, transparent) no-repeat;
  background-size:100%;
  width: 80%;
  background-position: right;
  float: right;
  color: lightgoldenrodyellow;
  font-family: cursive;
  white-space:nowrap;
  -webkit-transition: background-size 1s;
  -moz-transition:background-size 1s;
  -o-transition: background-size 1s;
  -ms-transition: background-size 1s;
  transition:background-size 1s;
}