#ITNoteMain{
    background:url(/picture/bg.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;
  }
  #Contain{
    padding: 25px;
    font-size: 24px;
  }
.title{
  font-family: DFKai-sb;
  padding: 20px 0px 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
#Contain li{
  list-style: none;
  font-family: DFKai-sb;
  font-size: 20px;
  margin-bottom: 15px;
}
#Contain li div{
  padding: 0px 25px;
}
#Contain li img{
  width: 100%;
  max-width: 500px;
  display: block;
}
#Contain li p{
  margin-top: 5px;
}
.comment{
  font-size: 14px;
}
ul.comment li{
  list-style: disc;
}
.comment li{
  font-size: 18px;
  list-style: disc !important;
}
.command{
  display: block;
  background-color: black;
  color: white;
  font-family: initial;
  font-size: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: normal;
}
.txt{
  display: block;
  background-color: white;
  color: black;
  font-family: initial;
  font-size: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: normal;
  max-height: 300px;
  overflow-y: auto;
  padding-left: 2px;
}
.annotation{
  color: green;
}

/*便條紙*/
.NotesDiv{
  filter: drop-shadow(10px 12px 5px black);
  position: absolute;
  margin-left: -250px;
  font-family: DFKai-sb;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition:margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
}
#BlueNote{
  top: calc(10% + 105px);
  z-index: 101;
}
#RedNote{
  top: calc(10% + 280px);
  z-index: 102;
}
.Note{
  width: 280px;
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 80% 100%, 0% 100%);
  border: 0;
  padding: 5px 30px 5px 35px;
  height: 240px;
}
#BlueNote .Note{
  background: lightskyblue;
}
#RedNote .Note{
  background: lightpink;;
}
#BlueNote h5::before{
  content:"補充說明";
}
#RedNote h5::before{
  content:"注意事項";
}
#NoteContent{
  height: 60%;
  overflow-y: auto;
}

@media(min-width: 1000px) {
  #Contain{
    padding: 50px;
    font-size: 30px;
  }
  #Contain li{
    font-size: 26px;
  }
  .comment{
    font-size: 20px;
  }
}